[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-clang"]
	path = meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "meta-rockchip"]
	path = meta-rockchip
	url = https://github.com/DTVElectronics/meta-rockchip
[submodule "meta-arm"]
	path = meta-arm
	url = git://git.yoctoproject.org/meta-arm
